@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|VT323);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  width: 1200px;
  background: #2B2112;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'VT323', mono-space;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 0.8;
  transform-origin: top left;
  transform: rotate(-8deg) translateY(20px);
}
.logo a {
  color: #7CC0FF;
  text-shadow:
    2px 2px 0 red,
    4px 4px 0 orange;
}

#stage {
  width: 1200px;
  height: 800px;
  padding: 20px;
  position: relative;
  transform: translateZ(0);

  /* does the animation */
  transition: background-position 1s;

  background: url(images/11-21.jpg);

  /* pushing over so doesn't get hidden */
  background-position: 300px 0;
}
.story-text {
  position: absolute;
  width: 30%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background: #EAE9E7;
  padding: 20px;
}

.desc {
  font-size: 1em;
  line-height: 1.25em;
}

.choices {
  width: 100%;
}

.choices button {
  font-family: inherit;
  font-size: 1.3rem;
  display: block;
  width: 100%;
  border: 1px solid #666;
  background: #D8D8D8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
.choices button:hover,
.choices button:focus {
  background: #222;
  color: white;
}

.story-graphics {
  height: 100%;
  position: absolute;
  width: 70%;
  top: 0;
  left: 30%;
  padding: 20px;
}


/* Scene specific CSS */

/*
  You're looking in the web inspector for:
  <body class="scene-61" ... >
*/

/* CAR */
body.scene-21 #stage {
  /* animated!!! */
  background-position: -476px 0;
}

/* BIKE */
body.scene-22 #stage {
  background-image: url(images/11-22.jpg);
  background-position: -476px 0;
}

/* GAS STATION */
body.scene-31 #stage {
  /* Because it's a scene change */
  transition: 0s;

  background-image: url(images/31.jpg);
  background-position: 361px 0;
}
