body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0 auto;
  width: 1200px;
}

#stage {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/landscape.jpg);
  background-size: cover;
  width: 1200px;
  height: 500px;
  padding: 20px;
  position: relative;

}
.story-text {
  position: absolute;
  width: 30%;
  height: calc(100% - 40px);
  overflow: auto;
  top: 0;
  left: 0;
  background: #EAE9E7;
  padding: 20px;
}

.desc {
  font-size: 1em;
  line-height: 1.25em;
}

.choices {
  width: 100%;
}

.choices button {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.story-graphics {
  position: absolute;
  width: 70%;
  top: 0;
  left: 240px;
  padding: 20px;
}





/* Scene specific CSS */
body.scene-2 #stage {
  transition: 5s;
  background-position: 300px 0;
}

body.scene-4 #stage {

  background-image: url(new-background.jpg);
}
